@media screen and (max-width: 767px) {
    .travels {
        padding: 0 0 4.125rem;
    }
}

@media screen and (min-width: 768px) {
    .travels {
        padding: 0 1.5rem 5.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .travels {
        padding: 0 3rem 5.75rem;
    }
}

@media screen and (min-width: 1280px) {
    .travels {
        padding: 0 6.25rem 5.75rem;
    }
}





