.gallery {
    box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .gallery {
        margin: 0 auto;
        margin-top: 4rem;
        max-width: 288px;
        row-gap: 0.8125rem;
    }
}

@media (min-width: 768px) {
    .gallery {
        margin-top: 5.5rem;
        -ms-grid-columns: 352px 1rem 352px;
        grid-template-columns: 352px 352px;
        gap: 1rem;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .gallery {
        max-width: 928px;
        margin: 0 auto;
        margin-top: 5.75rem;
        -ms-grid-columns: 300px 0.875rem 300px 0.875rem 300px;
        grid-template-columns: 300px 300px 300px;
        gap: 0.875rem;
    }
}

@media (min-width: 1280px) {
    .gallery {
        margin-top: 5.75rem;
        -ms-grid-columns: 1fr 1rem  1fr 1rem 1fr 1rem 1fr;
        grid-template-columns: 1fr  1fr 1fr 1fr;
        gap: 1rem;
    }
}
