.gallery {
    display: grid;
    justify-content: center;
}

@media (max-width: 767px) {
    .gallery {
        margin-top: 4rem;
        row-gap: 0.8125rem;
    }
}

@media (min-width: 768px) {
    .gallery {
        grid-template-columns: 352px 352px;
        gap: 1rem;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .gallery {
        margin-top: 5.75rem;
        grid-template-columns: 300px 300px 300px;
        gap: 0.875rem;
    }
}

@media (min-width: 1280px) {
    .gallery {
        margin-top: 5.75rem;
        grid-template-columns: 1fr  1fr 1fr 1fr;
        gap: 1rem;
    }
}
