.intro__gallery {
    display: grid;
    justify-content: center;
    /*flex-direction: column;*/
}

@media (max-width : 320px) {
    .intro__gallery {
        margin-top: 4rem;
        row-gap: 0.8125rem;
    }
    /* стили для малого смартфона */
}