.intro__list {
    margin: 0;
    padding: 0;
    text-align: left;
    font-style: normal;
    line-height: 18px;
    list-style-type: none;
    font-size: 12px;

}

@media (max-width: 767px) {
    .intro__list {
        margin-top: 2.125rem;
    }
}

@media (min-width: 768px) {
    .intro__list  {
        margin-top: 2.0625rem;
    }
}

@media (min-width: 1024px) {
    .intro__list   {
        max-width: 690px;
    }
}