.lead {
    box-sizing: border-box;
    position: relative;
    background-image: url("../../img/pic/mobile/mobile___lead_image.png");
}

@media (max-width: 320px) {
    .lead {

        min-height: calc(406px + 3rem);

        background-repeat: no-repeat;
        background-position-y: 232px;
        background-size: 320px 200px;
        padding-top: 48px;
    }
}


@media (min-width: 768px) {
    .lead {
        box-sizing: border-box;
        position: relative;
        min-height: calc(862px + 3rem);
        background-repeat: no-repeat;
        background-position-y: 408px;
        background-size: 768px 480px;
        padding-top: 48px;
    }
}


