.travel__link-title {
    margin: 0;
    margin-bottom: 0.75rem;
    color: #AAAAAA;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.2em;
}

@media (min-width: 768px) and (max-width: 1023px){
    .travel__link-title {
        line-height: 12px;
    }
}