.travel__link-wrapper {
    grid-area: travel__link-wrapper;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: start;
    justify-self: start;
}
.travel__link-title {
    margin: 0;
    margin-bottom: 0.75rem;
    color: #AAAAAA;
}
.travel__link {
    margin: 0;
    text-decoration: underline;
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .travel__link-wrapper {
        display: none;
    }
}

