.travel {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    max-width: 984px;
    grid-template-areas:
            "travel__title  travel__link-wrapper"
            "travel__img travel__texts-wrapper";
}
.travel:last-child {
    padding-bottom: 0;
}

@media (max-width: 767px) {
    .travel {
        display: block;
        padding-bottom: 3.0625rem;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {

    .travel  {
        -ms-grid-columns: 1fr 1.75rem 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 3rem 1.75rem;
        padding-bottom: 4.5625rem;
    }
}

@media (min-width: 1024px) and (max-width: 1279px)  {
    .travel {
        padding-bottom: 5rem;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1280px)  {
    .travel {
        padding-bottom: 5rem;
        grid-template-columns: 460px 1fr;
        gap: 3rem 2rem;

    }
}