.footer__item {
    margin: 0;
    font-style: normal;
    font-weight: normal;
}

.footer__item :hover {
    color: #AAAAAA;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
@media (max-width: 767px) {
    .footer__item {
        margin-top: 2rem;

        font-size: 24px;
        line-height: 24px;
    }

    .footer__item:first-child {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .footer__item {
        margin-right: 1.125rem;
        font-size: 16px;
        line-height: 18px;
    }
    .footer__item:last-child {
        margin-right: 0;
    }
}