.header__link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin-right: 1.125rem;

}

.header__link:last-child {
    margin-right: 0;
}

.header__link:hover{
    text-decoration: underline;
}