.travel__text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    grid-area: travel__text;
    text-align: left;
    margin-top: 1.625rem;
}

.travel__text:first-child {
    margin-top: 0;
}

@media (max-width: 767px) {
    .travel__text {
        margin: 0 1rem 1.5625rem 1rem;
    }
    .travel__text:last-child {
        margin: 0 1rem 0 1rem;
    }
}

@media (min-width: 1024px) {
    .travel__text {
        min-width: 456px;
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .travel__text {
        max-width: 484px;

    }
}
