.trainspoting {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .trainspoting {
        padding-bottom: 4rem;
    }
}

@media (min-width: 768px) {
    .trainspoting {
        padding-bottom: 5.5rem;
    }
}

@media (min-width: 1024px) {
    .trainspoting {
        padding-bottom: 5.75rem;;
    }
}
