.trainspoting {
    background: url("../../img/pic/cover-trains.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .trainspoting {
        margin-top: 66px;
        min-height: 200px;
    }
}

@media (min-width : 768px) {
    .trainspoting {
        margin-top: 5.625rem;
        min-height: 480px;
        height: 100%;
    }
}

@media (min-width : 1280px) {
    .trainspoting {
        margin: 5.75rem 3rem 0 3rem;
        min-height: 740px;
        height: 100%;
    }
}